version: '2'
services:
    postgres:
        image: postgres:14
        environment:
            POSTGRES_PASSWORD: testing
        volumes:
            - ./state/postgres/data:/var/lib/postgresql/data
    opensearch-node1:
        image: opensearchproject/opensearch:2.1.0
        environment:
            - cluster.name=opensearch-cluster
            - node.name=opensearch-node1
            - bootstrap.memory_lock=true
            - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
            - "DISABLE_INSTALL_DEMO_CONFIG=true"
            - "DISABLE_SECURITY_PLUGIN=true"
            - "discovery.type=single-node"
        volumes:
            - ./state/opensearch/data:/usr/share/opensearch/data
    server:
        image: gitlab.futo.org:5050/harpo/polycentric
        read_only: true
        environment:
            - "RUST_LOG=server=info"
    proxy:
        image: caddy
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - ./state/caddy/data:/data
            - ./state/caddy/config:/config
        ports:
            - "0.0.0.0:80:80"
            - "0.0.0.0:443:443"

