.profileHeader {
    padding: 20px;
}

.profileHeader__flex {
    display: flex;
    align-items: flex-start;
}

.profileHeader__identity {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.profileHeader__headerTex {
    font-size: 15px;
}

.profileHeader__headerText:hover {
    text-decoration: underline;
}
