/* small 16:9 1280 × 720 */
/* small 4:3 960 × 720 */

.standard_width {
    margin-top: 15px;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.profilecard_position {
    width: 100%;
}

.recommendedcard_position {
    display: none;
    position: absolute;
    left: 103%;
    width: 100%;
}

@media (min-width: 600px) {
    .standard_width {
        max-width: 460px !important;
    }
}

@media (min-width: 1200px) {
    .standard_width {
        /* max-width: 460px !important; */
    }

    .profilecard_position {
        position: absolute;
        right: 103%;

        display: block;
        max-width: 320px;
    }

    .recommendedcard_position {
        display: block;
        max-width: 320px;
    }
}

@media (min-width: 1500px) {
    .standard_width {
        max-width: 520px !important;
    }

    .profilecard_position {
        max-width: 380px;
    }

    .recommendedcard_position {
        max-width: 380px;
    }
}

@media (min-width: 1800px) {
    .standard_width {
        max-width: 520px !important;
    }

    .profilecard_position {
        max-width: 450px;
    }

    .recommendedcard_position {
        max-width: 450px;
    }
}

.MuiPaper-rounded {
    border-radius: 20px !important;
}

.MuiButton-root {
    border-radius: 20px !important;
}
